stages:
  - build

variables:
  # GitLab Container Registry URL
  DOCKER_REGISTRY: $CI_REGISTRY
  DOCKER_REPOSITORY: $CI_REGISTRY_IMAGE
  DOCKER_TAG: $CI_COMMIT_REF_SLUG
  # Use Docker-in-Docker
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: "/certs"

# Build and push Docker image
build-image:
  stage: build
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  before_script:
    # Login to GitLab Container Registry
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  script:
    # Build the Docker image
    - docker build -t $DOCKER_REPOSITORY:$DOCKER_TAG .
    - docker build -t $DOCKER_REPOSITORY:latest .
    
    # Push the Docker image with commit tag
    - docker push $DOCKER_REPOSITORY:$DOCKER_TAG
    
    # Push latest tag only on main/master branch
    - |
      if [[ "$CI_COMMIT_REF_NAME" == "main" || "$CI_COMMIT_REF_NAME" == "master" ]]; then
        docker push $DOCKER_REPOSITORY:latest
      fi
  rules:
    # Run on all branches and tags
    - if: $CI_COMMIT_BRANCH
    - if: $CI_COMMIT_TAG
  retry:
    max: 2
    when:
      - runner_system_failure
      - stuck_or_timeout_failure

# Build and push with version tag for releases
build-release:
  stage: build
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  before_script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  script:
    # Build with version tag
    - docker build -t $DOCKER_REPOSITORY:$CI_COMMIT_TAG .
    - docker build -t $DOCKER_REPOSITORY:latest .
    
    # Push version tag and latest
    - docker push $DOCKER_REPOSITORY:$CI_COMMIT_TAG
    - docker push $DOCKER_REPOSITORY:latest
  rules:
    # Only run on git tags (releases)
    - if: $CI_COMMIT_TAG
  retry:
    max: 2
    when:
      - runner_system_failure
      - stuck_or_timeout_failure
